<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">One Minute Pitch</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/dashboard">dashboard</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/add_categories">categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pitches">pitches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/show_comments">comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/latest">latest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/most_voted">Most voted</a>
            </li>
            
        </ul>
        <ul>
            <li class="nav navbar-nav navbar-right">
                <!-- {% if session.logged_in %}
                
                
                {% else %} -->
                <a class="nav-link" href="/favourites">favourites</a>
                <a class="nav-link" href="/signup">Signup</a>
                <a class="nav-link" href="/signin">Signin</a>
                <a class="nav-link" href="/signin">SignOut</a>
                {% endif %}
            </li>
        </ul>

    </div>
</nav>