<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">One Minute Pitch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Pitches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/latest">latest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/most_voted">Most voted</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/favourites">Favourites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">signup</a>
            </li>
        </ul>
    </div>
</nav>