{% extends 'layout.html' %}

{% block body %}
    <h1>dashboard:categories</h1>
    <h3>Welcome {{ session.username }}</h3>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Add Pitch</th>

        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td> 
                <td><a href="/filter_pitches/{{category.id}}" >{{category.name }}</a></td>
                <td><a href="/add_pitches/{{category.id}}" class="btn btn-default pullright">Add Pitch</a></td>
            </tr>
            
        {% endfor %}
    </table>   
{% endblock%}