{% extends 'layout.html' %}

{% block body %}
    <h1>dashboard:Pitches</h1>
    <h3>Welcome {{ session.username }}</h3>
    <h4>{{ pitches.id }}</h4>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Pitch</th>
            <th>Category</th> 
            <th>Comments</th> 
        </tr>
        {% for pitches in pitches %}
            <tr>
                <td>{{ pitches.name }}</td>
                <td>{{ pitches.category }}</td> 
                <td><a href="/add_comments/{{pitches.id}}" class="btn btn-default pullright">Add comments</a></td>
            </tr>
            
        {% endfor %}
    </table>   
{% endblock %}